# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
*.egg-info/
# VSCode
.vscode/
# Jupyter
.ipynb_checkpoints/
# OS
.DS_Store
Thumbs.db
# Test
*.log
# Video
*.ts
*.mp4
individual_clips/
.env
